body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.admin-panel {
    padding: 20px;
    background-color: #fff;
    margin: 20px auto;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    max-width: 100%;
    box-sizing: border-box;
    width: 100%;
}

.admin-panel h2 {
    margin-top: 0;
}

.admin-panel button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
    margin: 5px 0;
}

.admin-panel button:hover {
    background-color: #0056b3;
}

.admin-comment {
    border-bottom: 1px solid #ccc;
    padding: 10px 20px;
    margin-bottom: 10px;
    background-color: #ffe6e6; /* Отличаем админские комментарии по цвету */
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.admin-comment strong {
    display: block;
    font-size: 1.1em;
    margin-bottom: 5px;
}

.admin-comment p {
    margin: 5px 0;
}

.admin-comment button {
    background-color: #d9534f;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.admin-comment button:hover {
    background-color: #c9302c;
}

.replies {
    margin-left: 20px;
    border-left: 2px solid #ccc;
    padding-left: 10px;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    max-width: 500px;
    width: 100%;
    text-align: center;
}

.modal-content h3 {
    margin-top: 0;
}

.modal-content button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
    margin: 5px;
    transition: background-color 0.3s;
}

.modal-content button:hover {
    background-color: #0056b3;
}

#cancel-delete-btn {
    background-color: #dc3545;
}

#cancel-delete-btn:hover {
    background-color: #c82333;
}

.custom-notification {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #28a745;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    font-size: 16px;
}
