.admin-panel {
    padding: 20px;
    background-color: #fff;
    margin: 20px auto;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    max-width: 100%;
    box-sizing: border-box;
    width: 100%;
}

.admin-comment {
    border-bottom: 1px solid #ccc;
    padding: 10px 20px;
    margin-bottom: 10px;
    background-color: #ffe6e6; /* Отличаем админские комментарии по цвету */
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.admin-comment strong {
    display: block;
    font-size: 1.1em;
    margin-bottom: 5px;
}

.admin-comment p {
    margin: 5px 0;
}

.admin-comment button {
    background-color: #d9534f;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.admin-comment button:hover {
    background-color: #c9302c;
}
