.comment-form {
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    max-width: 100%; /* Установим максимальную ширину на 100% */
    box-sizing: border-box; /* Учитываем отступы и границы */
    position: fixed; /* Закрепим форму внизу */
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000; /* Убедимся, что форма находится над другими элементами */
}

.comment-form h2 {
    margin-top: 0;
}

.comment-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.comment-form input,
.comment-form textarea {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 15px;
}

.comment-form button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
    margin-top: 10px;
}

.comment-form button:hover {
    background-color: #218838;
}
